CompileFlags:
  Add:
    - "-xc++"
    - "-std=c++20"
    - "-Ic:/Users/james/Coding/Projects/Inference-Engine"
    - "-IC:/users/james/_bazel_james/kerzryb2/execroot/_main/external/abseil-cpp+"
  Remove:
    - "-W*"
