CompileFlags:
  Add:
    - "-xc++"
    - "-std=c++20"
    - "-I."
    - "-Ibazel-Inference-Engine/external/abseil-cpp+"
    - "-Ibazel-Inference-Engine/external/googletest+/googletest/include"
    - "-Ibazel-Inference-Engine/external/googletest+/googlemock/include"
  Remove:
    - "-W*"
